<div class="page-header">
	<h1>
		Validate
		<a ui-sref="questionCreate" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			Add Question
		</a>
	</h1>
</div>

<div class="jumbotron text-center" ng-show="validate.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading questions...</p>
</div>

<table class="table table-bordered table-stripped" ng-show="validate.questions">
	<thead>
		<tr>
			<th>Category</th>
			<th>Difficulty</th>
			<th>Quote</th>
			<th>Correct answer</th>
			<th>Other answers</th>
			<th>Approved</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<!-- loop -->
		<tr ng-repeat="question in validate.questions">
			<td>{{ question.category }}</td>
			<td>{{ question.difficulty }}</td>
			<td style="white-space: pre;">{{ question.quote }}</td>
			<td>{{ question.correctAnswer }}</td>
			<td>
				<div ng-repeat="answer in question.otherAnswers">
					- {{ answer }}
				</div>
			</td>
			<td>{{ question.approved }}</td>
			<td ng-if="main.user.admin">
				<a ng-href="/edit/{{ question._id }}" class="btn btn-danger">Validate</a>
			</td>
		</tr>
	</tbody>
</table>
