body {
	padding-top: 50px;
}

#views-wrapper {
	position: relative;
}

.ng-enter,
.ng-leave {
	width: 100%;
	position: absolute;
}

.ng-enter-DISABLED {
	-webkit-animation:	slideInRight .8s both ease-in;
	-moz-animation:		slideInRight .8s both ease-in;
	animation:			slideInRight .8s both ease-in;
}

.ng-leave-DISABLED {
	-webkit-animation:	slideOutLeft 0.4s both ease-in;
	-moz-animation:		slideOutLeft 0.4s ease-in;
	animation:			slideOutLeft 0.4s ease-in;
}

.spinner {
	animation:			spin 1s infinite;
	-moz-animation:		spin 1s infinite;
	-webkit-animation:	spin 1s infinite;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to 	 { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to 	 { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to 	 { -moz-transform: rotate(360deg); }
}

.status-created {
	color: green;
}

.status-pending {
	color: red;
}
